.items {
  background-color: rgb(215, 235, 232);
  display: flex;
  height: 90vh;
  width: 540px;
  color: rgb(55, 52, 52);
  border: 2px solid rgb(208, 208, 163);
  border-left: 4px solid rebeccapurple;
  margin: 0 auto;
  margin-top: 20px;
}

table {
  width: 540px;
}

td {
  padding: 30px;
}

th {
  color: rebeccapurple;
}
